body {
  margin: 30;

}

h1 {
    font-size: 50pt;

}

li a {
    color: black;
    font-size: 32pt;
}

.authors{
  font-size: 18pt;
  text-align: justify;
  color: grey;
  font-variant: small-caps;
}

#bg{
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

img{
  float: right;
  width: 1080;
  margin: 20
}
